h1,
h2,
h3,
h4,
h5,
h6 {
     font-family: "Open Sans", sans-serif;
     font-weight: 600;
     padding: 10px 10px;
     text-align: center;
}

p {
     text-align: inherit;
     color: rgb(0, 0, 0);
}

img {
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 60%;
}
